/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
    .show-on-mobile {
        display: none;
    }
}

/* Tablet and Mobile */
@media screen and (max-width: 991px) {
    .navbar ul {
        position: relative;
        display: none;
    }

    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar .toggle-menu {
        display: block;
        /* Visible menu screen Tablet/Mobile */
    }

    .toggle-menu svg {
        color: #666;
        width: 24px;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        padding: 60px;
        transform: translateX(-100%);
        background-color: #fff;
        z-index: 2;
        transition: 0.5 ease;
    }

    .menu-checkbox:checked + .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .menu-drawer ul {
        margin-top: 50px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        color: #333;
        font-size: 1.8rem;
        font-weight: 500;
    }

    .separate {
        border-top: 2px solid #ebebeb;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .menu-drawer {
        padding: 40px;
        inset: 0 25% 0 0;
    }

    .navbar .action {
        display: none;
    }

    .show-on-mobile {
        display: block;
    }
}
