/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
    .show-on-mobile {
        display: none;
    }
}

/* Tablet and Mobile */
@media screen and (max-width: 991.98px) {
    .navbar ul {
        position: relative;
        display: none;
    }

    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar .toggle-menu {
        display: block;
        /* Visible menu screen Tablet/Mobile */
    }

    .toggle-menu svg {
        color: #666;
        width: 24px;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        padding: 60px;
        transform: translateX(-100%);
        background-color: #fff;
        z-index: 2;
        transition: 0.5 ease;
    }

    .menu-checkbox:checked + .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .menu-drawer ul {
        margin-top: 50px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        color: #333;
        font-size: 1.8rem;
        font-weight: 500;
    }

    .separate {
        border-top: 2px solid #ebebeb;
    }

    .image-hero {
        display: none;
    }

    .hero-wrap .info {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .hero-wrap .info .desc {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .client .logos {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 70px;
    }

    .guide-item {
        margin: 0;
        flex: 1;
    }

    .featured .list {
        grid-template-columns: repeat(2, 1fr);
    }

    .stats .row {
        flex-direction: column;
    }

    .stats .img-block {
        margin-top: 80px;
        order: 2;
    }

    .stats .img-block,
    .stats .info {
        width: 100%;
    }

    .stats .row .info {
        order: 1;
        padding: 0;
    }

    .stats .info .sub-title {
        width: 60%;
    }

    .stats .info .desc {
        width: 100%;
    }

    .stats .sale .content {
        gap: 130px;
    }

    .stats .sale .value {
        font-size: 5rem;
    }

    .stats .sale .sub-desc {
        font-size: 1.4rem;
    }

    .subscription .image {
        display: none;
    }

    .footer .row-top {
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 80px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .hide-on-mobile {
        display: none;
    }

    .menu-drawer {
        padding: 40px;
        inset: 0 25% 0 0;
    }

    .navbar .action {
        display: none;
    }

    .show-on-mobile {
        display: block;
    }

    .hero-wrap .sub-title {
        font-size: 1.4rem;
    }

    .hero-wrap .title {
        margin-top: 15px;
        font-size: 4.5rem;
    }

    .hero-wrap .desc {
        width: 100%;
        font-size: 1.4rem;
    }

    .client .logos {
        row-gap: 20px;
    }

    .list-guides {
        flex-direction: column;
        gap: 40px;
    }

    .featured .row {
        flex-direction: column;
        row-gap: 30px;
    }

    .featured .list {
        grid-template-columns: 1fr;
        row-gap: 40px;
    }

    .stats .info .sub-title {
        width: 100%;
    }

    .stats .img-block .image {
        width: 100%;
    }

    .stats .sale .content {
        flex-direction: column;
        align-items: center;
        gap: 65px;
    }

    .subscription .info {
        padding: 0 30px;
    }

    .footer .row-top {
        gap: 100px;
    }

    .footer .row-end {
        flex-direction: column;
        row-gap: 22px;
    }
}
